// freight pro
@font-face {
  font-family: 'freight-regular';
  src: url('/fonts/freight/FreightTextProLight-Regular.ttf');
}
@font-face {
  font-family: 'freight-italic';
  src: url('/fonts/freight/FreightTextProLight-Italic.ttf');
}

// proxima nova
@font-face {
  font-family: 'proxima-nova-medium';
  src: url('/fonts/proxima-nova/proximanova-medium.otf');
}
@font-face {
  font-family: 'proxima-nova-regular';
  src: url('/fonts/proxima-nova/proximanova-regular.otf');
}
@font-face {
  font-family: 'proxima-nova-thin';
  src: url('/fonts/proxima-nova/proximanova-thin.otf');
}
