// freight pro
@font-face {
  font-family: 'freight-light';
  src: url('/fonts/freight/FreightTextProLight-Regular.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'freight-light';
  src: url('/fonts/freight/FreightTextProLight-Italic.ttf');
  font-style: italic;
}
@font-face {
  font-family: 'freight-book';
  src: url('/fonts/freight/FreightTextProBook-Regular.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'freight-book';
  src: url('/fonts/freight/FreightTextProBook-Italic.ttf');
  font-style: italic;
}

// proxima nova
@font-face {
  font-family: 'proxima-nova-medium';
  src: url('/fonts/proxima-nova/proximanova-medium.otf');
}
@font-face {
  font-family: 'proxima-nova-regular';
  src: url('/fonts/proxima-nova/proximanova-regular.otf');
}
@font-face {
  font-family: 'proxima-nova-thin';
  src: url('/fonts/proxima-nova/proximanova-thin.otf');
}
