// druk wide web
@font-face {
  font-family: 'druk-regular';
  src: url('/fonts/druk-wide-web/Druk-Wide-Web-Medium-Regular.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'druk';
  src: url('/fonts/druk-wide-web/Druk-Wide-Web-Bold-Regular.ttf');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'druk-super';
  src: url('/fonts/druk-wide-web/Druk-Wide-Web-Super-Regular.ttf');
  font-style: normal;
  // font-weight: bolder;
}

// freight pro
@font-face {
  font-family: 'freight-light';
  src: url('/fonts/freight/FreightTextProLight-Regular.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'freight-light';
  src: url('/fonts/freight/FreightTextProLight-Italic.ttf');
  font-style: italic;
}
@font-face {
  font-family: 'freight-book';
  src: url('/fonts/freight/FreightTextProBook-Regular.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'freight-book';
  src: url('/fonts/freight/FreightTextProBook-Italic.ttf');
  font-style: italic;
}

// proxima nova
@font-face {
  font-family: 'proxima-nova-medium';
  src: url('/fonts/proxima-nova/proximanova-medium.otf');
}
@font-face {
  font-family: 'proxima-nova-regular';
  src: url('/fonts/proxima-nova/proximanova-regular.otf');
}
@font-face {
  font-family: 'proxima-nova-thin';
  src: url('/fonts/proxima-nova/proximanova-thin.otf');
}

// neutron
@font-face {
  font-family: 'neutron-extra-light';
  src: url('/fonts/neutron/Neuton-Extralight.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'neutron-extra-light';
  src: url('/fonts/neutron/Neuton-ExtralightItalic.ttf');
  font-style: italic;
}
@font-face {
  font-family: 'neutron-sc-extra-light';
  src: url('/fonts/neutron/Neuton-SC-Extralight.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'neutron';
  src: url('/fonts/neutron/Neuton-Italic.ttf');
  font-style: italic;
}
@font-face {
  font-family: 'neutron-cursive';
  src: url('/fonts/neutron/NeutonCursive-Regular.ttf');
  font-style: normal;
}
