@import '_variables';

.background {
  background: #4801ff !important;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.home {
  font-family: druk;
  header {
    position: fixed;
    color: white;
    bottom: 0;
    z-index: 1;
    .logo {
      font-family: druk-regular;
      text-transform: uppercase;
      width: fit-content;
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      margin-left: 50px;
      font-weight: 800;

      &:hover {
        transition-duration: 0.3s;
        color: #4801ff;
        -webkit-text-stroke: 2px;
        -webkit-text-stroke-color: white;
      }
    }
    .info {
      font-family: sans-serif;
      padding: 50px 50px;
      display: flex;
      width: 100vw;
      justify-content: space-between;

      .left {
        display: flex;
        ul {
          margin-right: 3vw;
          li {
            margin-bottom: 5px;
          }
          .email {
            font-weight: 800;
          }
        }
      }
      .right {
        ul {
          li {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

.project {
  transform-style: preserve-3d;
  font-weight: bolder;
  padding: 5vw 5vw calc(7.5vw + 67px) 0;
  list-style-type: none;
  text-align: right;
  ul {
    font-size: 6rem;
    transform-style: preserve-3d;
    @for $i from 1 through 8 {
      .project-li:nth-child(#{$i}) .project-container {
        animation-delay: 1s - ($i / 10);
      }
    }
    .project-li {
      transform-style: preserve-3d;
      .project-container {
        transform-style: preserve-3d;
        width: 100%;
        color: black;
        opacity: 0;
        animation: intro 2s forwards;
        display: flex;
        justify-content: flex-end;
        a {
          // transform: perspective(100rem) rotateY(-45deg) rotateZ(-5deg);
          transform: rotateZ(-5deg);
          transform-origin: right center;
          // transform: rotateY(-45deg) translateZ(0) scale(1);
          transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
          transition-duration: 2s;
          width: min-content;
          display: flex;
          flex-direction: column;
          text-transform: uppercase;
          &:hover {
            transform-origin: right center;
            transform: perspective(100rem) rotateY(30deg) rotateZ(0);
            // transform: perspective(200rem) rotateY(-30deg) rotateZ(-5deg);
            // transform: rotateY(-0deg) translateZ(0) scale(1);
            color: transparent;
            -webkit-text-stroke: 2px;
            -webkit-text-stroke-color: #151515;
          }
          &:hover::before {
            color: black;
            -webkit-text-stroke: 0px;
            -webkit-text-stroke-color: #151515;
          }
        }
        a::before {
          content: attr(data-date);
          font-size: 0.8rem;
          font-weight: 300;
          display: flex;
        }
      }
    }
  }
}

@keyframes intro {
  0% {
    visibility: visible;
    opacity: 0;
    transform: translate3d(0, -50vh, 0) rotate3d(0, -1, 0, -100deg);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: rotateZ(0);
  }
}

@keyframes outro {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -25vh, 0);
  }
}
