$red: #e7473c;
$darkred: #76150f;
$white: #f0eff0;
$headerWidthLg: 500px;
$headerWidthXl: 600px;
$gradient-red: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1) 50%,
    transparent,
    transparent,
    transparent,
    transparent
  )
  $red;
