.background {
  background: $bg-color !important;
  width: 100vw;
  height: 100vh;
  position: fixed;
}
.background.work {
  background: white !important;
}

.home-header {
  position: fixed;
  color: white;
  bottom: 0;
  z-index: 10;

  .logo {
    font-family: druk-regular;
    text-transform: uppercase;
    width: fit-content;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-left: 50px;
    font-weight: 800;
    .init {
      animation: logoIntro 1s forwards;
    }
  }
  .logo.toBottom {
    transition: transform 1s ease-in-out 1s;
    transform: translate3d(0, -50px, 0);
    span {
      transition: all 1s;
      color: white;
    }
    &:hover {
      span {
        transition: all 1s;
        color: transparent;
        -webkit-text-stroke: 0.5px;
        -webkit-text-stroke-color: white;
      }
    }
  }
  .logo.toTop {
    transition: transform 1s ease-in-out 1s;
    transform: translate3d(0, calc(-90vh + 100px), 0);
    span {
      transition: all 1s;
      color: black;
    }
    .about-span {
      transition: all 1s;
      color: white;
    }
    &:hover {
      span {
        transition: all 1s;
        color: transparent;
        -webkit-text-stroke: 0.5px;
        -webkit-text-stroke-color: black;
      }
      .about-span {
        transition: all 1s;
        color: transparent;
        -webkit-text-stroke: 0.5px;
        -webkit-text-stroke-color: white;
      }
    }
  }
  // .logo.toTop.aboutClicked {
  //   color: white;
  //   transition: 1s;
  //   animation: headerToTop 1s forwards;
  //   animation-delay: 1s;
  //   &:hover {
  //     transition-duration: 0.3s;
  //     color: #4801ff;
  //     -webkit-text-stroke: 0.5px;
  //     -webkit-text-stroke-color: white;
  //   }
  // }

  .info {
    font-family: sans-serif;
    padding: 0 50px;
    padding-bottom: 50px;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    color: white;
    animation: slideUp 1.5s forwards;
    animation-timing-function: cubic-bezier(0.175, 1.5, 0.32, 1);
    .left {
      display: flex;
      ul {
        margin-right: 3vw;
        li {
          margin-bottom: 5px;
          a {
            text-decoration: none;
            color: inherit;
          }
        }
        .email {
          font-weight: 800;
        }
      }
    }
    .right {
      ul {
        li {
          margin-bottom: 5px;
          span {
            font-size: 0.8rem;
            margin-right: 10px;
          }
          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }
    }
  }
  .about {
    li {
      &:hover {
        --color-one: hsla(257, 100%, 84%, 1);
        --color-two: hsla(257, 100%, 8%, 1);
        --bg-size: 400%;
        background: linear-gradient(
            90deg,
            var(--color-one),
            var(--color-two),
            var(--color-one)
          )
          0 0 / var(--bg-size) 100%;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        animation: move-bg 6s infinite linear;
      }
    }
  }

  .about.toTop {
    transition: transform 1s ease-in-out 1s;
    transform: translate3d(0, calc(-90vh + 50px), 0);
  }
  .about.toBottom {
    transition: transform 1s ease-in-out 1s;
    transform: translate3d(0, 0, 0);
  }
}

.info.work {
  color: black;
}

.github-source {
  a {
    display: flex;
    align-items: center;
    span {
      margin-left: 2px;
    }
    &:hover {
      span {
        font-weight: bold;
      }
    }
  }
}

@keyframes logoIntro {
  0% {
    letter-spacing: 3rem;
  }
  100% {
    letter-spacing: 0px;
  }
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(120%);
  }
  100% {
    transform: translateY(0%);
  }
}
