.background {
  background: $bg-color !important;
  width: 100vw;
  height: 100vh;
  position: fixed;
  transition-duration: 1s;
}
.background.work {
  background: white !important;
}

.home-header {
  position: fixed;
  color: white;
  bottom: 0;
  z-index: 10;

  .logo {
    font-family: druk-regular;
    text-transform: uppercase;
    width: fit-content;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-left: 50px;
    font-weight: 800;
    animation: logoIntro 1s forwards;
  }
  .logo.work {
    color: black;
    transform: translate3d(0, calc(-90vh + 150px), 0);
    animation: logoIntro 1s forwards;
  }
  .logo.toBottom {
    transform: translate3d(0, calc(-90vh + 150px), 0);
    color: white;
    transition: 1s;
    animation: headerToBottom 1s forwards;
    animation-delay: 1s;
  }
  .logo.toTop {
    color: black;
    transition: 1s;
    transform: translate3d(0, calc(-90vh + 150px), 0);
    animation: headerToTop 1s forwards;
    animation-delay: 1s;
  }

  .logo,
  .logo.toBottom {
    &:hover {
      transition-duration: 0.3s;
      color: #4801ff;
      -webkit-text-stroke: 0.5px;
      -webkit-text-stroke-color: white;
    }
  }
  .logo.work,
  .logo.toTop {
    &:hover {
      transition-duration: 0.3s;
      color: transparent;
      -webkit-text-stroke: 0.5px;
      -webkit-text-stroke-color: black;
    }
  }
  .logo.toTop.aboutClicked {
    color: white;
    transition: 1s;
    animation: headerToTop 1s forwards;
    animation-delay: 1s;
    &:hover {
      transition-duration: 0.3s;
      color: #4801ff;
      -webkit-text-stroke: 0.5px;
      -webkit-text-stroke-color: white;
    }
  }

  .info {
    font-family: sans-serif;
    padding: 50px 50px;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    color: white;
    animation: slideUp 1.5s forwards;
    animation-timing-function: cubic-bezier(0.175, 1.5, 0.32, 1);
    .left {
      display: flex;
      ul {
        margin-right: 3vw;
        li {
          margin-bottom: 5px;
        }
        .email {
          font-weight: 800;
        }
      }
    }
    .right {
      ul {
        li {
          margin-bottom: 5px;
          span {
            font-size: 0.8rem;
            margin-right: 10px;
          }
        }
      }
    }
  }
  .about.toTop {
    li {
      &:hover {
        --bg-size: 400%;
        --color-one: hsla(257, 100%, 84%, 1);
        --color-two: hsla(257, 100%, 8%, 1);
        background: linear-gradient(
            90deg,
            var(--color-one),
            var(--color-two),
            var(--color-one)
          )
          0 0 / var(--bg-size) 100%;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        animation: move-bg 6s infinite linear;
      }
    }
  }
  .about.work {
    color: black;
    transform: translate3d(0, calc(-90vh + 50px), 0);
    li {
      &:hover {
        --bg-size: 400%;
        --color-one: hsla(257, 100%, 84%, 1);
        --color-two: hsla(257, 100%, 8%, 1);
        background: linear-gradient(
            90deg,
            var(--color-one),
            var(--color-two),
            var(--color-one)
          )
          0 0 / var(--bg-size) 100%;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        animation: move-bg 6s infinite linear;
      }
    }
  }
  .about,
  .about.toBottom {
    li {
      &:hover {
        --bg-size: 400%;
        --color-one: #3300b3;
        --color-two: white;
        background: linear-gradient(
            90deg,
            var(--color-one),
            var(--color-two),
            var(--color-one)
          )
          0 0 / var(--bg-size) 100%;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        animation: move-bg 6s infinite linear;
      }
    }
  }
  .about.toBottom {
    color: white;
    transition-duration: 1s;
    transform: translate3d(0, calc(-90vh + 50px), 0);
    animation: aboutToBottom 1s forwards;
    animation-delay: 1s;
  }
  .about.toTop {
    color: black;
    transition-duration: 1s;
    animation: aboutToTop 1s forwards;
    animation-delay: 1s;
  }
  .about.toTop.aboutClicked {
    color: white;
    transition-duration: 1s;
    animation: aboutToTop 1s forwards;
    animation-delay: 1s;
    li {
      &:hover {
        --bg-size: 400%;
        --color-one: #3300b3;
        --color-two: white;
        background: linear-gradient(
            90deg,
            var(--color-one),
            var(--color-two),
            var(--color-one)
          )
          0 0 / var(--bg-size) 100%;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        animation: move-bg 6s infinite linear;
      }
    }
  }
}

.info.work {
  color: black;
}

@keyframes logoIntro {
  0% {
    letter-spacing: 3rem;
  }
  100% {
    letter-spacing: 0px;
  }
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(120%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes headerToTop {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, calc(-90vh + 150px), 0);
  }
}

@keyframes headerToBottom {
  0% {
    transform: translate3d(0, calc(-90vh + 150px), 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes aboutToTop {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, calc(-90vh + 50px), 0);
  }
}

@keyframes aboutToBottom {
  0% {
    transform: translate3d(0, calc(-90vh + 50px), 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
