$red: #e7473c;
$darkred: #76150f;
$white: #f0eff0;
$fixedWidth: 500px;

$headerWidthLg: 500px;
$headerWidthXl: 600px;

$breakpoints: (
  sm: (
    min: 576px,
    max: 575.98px,
  ),
  md: (
    min: 768px,
    max: 767.98px,
  ),
  lg: (
    min: 992px,
    max: 991.98px,
  ),
  xl: (
    min: 1200px,
    max: 1199.98px,
  ),
  xxl: (
    min: 1400px,
    max: 1399.98px,
  ),
);
